@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./layout.css');
/* html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}
html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply text-white bg-zinc-800 antialiased;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
} */
/* *,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  @apply outline-none ring-2 ring-pink-500 ring-opacity-50;
}



a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} */
/* 
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  height: calc(100vh - 80px);
} */

/* 
*
*
* ############ React Select
*
*/

@layer components {

  /* .input-select-container {
  } */
  .input-select-container .input-select__control {
    @apply input p-0 select-bordered flex text-base-content w-full;
  }

  .input-select-container .input-select__control--is-focused {
    
  }

  .input-select-container .input-select__menu {
    @apply  bg-base-200 text-base-content w-52 max-w-sm shadow-lg rounded-lg card card-bordered border-base-100 p-0;
  }

  .input-select-container .input-select__option {
    @apply  text-base  hover:cursor-pointer  w-full;
  }

  .input-select-container .input-select__option--is-focused {
    @apply   bg-base-300 w-full flex;
  }
  .input-select-container .input-select__option--is-selected {
    @apply font-semibold  bg-primary text-primary-content;
  }

  .input-select-container .input-select__indicator-separator {
    @apply  opacity-20 ;
  }

  .input-select-container .input-select__input-container,
  .input-select-container .input-select__placeholder,
  .input-select-container .input-select__single-value {
    @apply   text-base-content  w-full    ;
  }
  .input-select-container svg {
    @apply fill-current text-base-content 
  }
}